<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <p>This Splurty was built by <a target="_blank" 
    href="https://github.com/sinkoffr">Rebecca</a>.
    A student of web development in the firehose project.
    Rebecca is very excited to be working on her first app in the 
    program.
    </p>
    
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'me.jpg', class: 'img-fluid' %>
        </div>
        
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Rebecca</h2>
            <br />
            <p>Rebecca's background is in animal science and she is 
            looking forward to gaining new skills and moving 
            into a new field. She has a strong commitment to continuing
            her education.  One of her favorite things about 
            working with animals was that every day was different.
            She Hopes to bring the flexibility needed in her old career 
            into all her future pursuits.</p>
        </div>
    </div>
    
</div>

<br class="clear" />
<br />
<br />
<br />
